QPushButton:hover {
    background-color: rgba( 86, 101, 115, 0.5);
}

#sidebar_widget QPushButton:checked {
    background-color:  rgba( 86, 101, 115, 0.5);
    color: #050505;
}

#sidebar_widget QPushButton {
    border:none;
    border-radius: 3px;
    text-align: left;
    padding: 8px 0 8px 15px;
    color: #788596;
}

#exit_btn {
    text-align: center;
}